{% extends "pizzas/base.html" %}

{% block content %}
<style>
    /* Head/Logo Title */
    .header {
        padding: 40px;
        text-align: center;
        background: #35bc1a;
        color: white;
        font-size: 30px;
    }
</style>

<div class='header'>
    <p>Drew's Pizzeria</p>
</div>
<p> Welcome to my pizzeria, mamma mia!</p>

<p> We got all the pizza you could ever ask for, come and get it!</p>
<p> The age old family recipe combines traditional italian cooking </p>
<p> with contemporary tasts! Come see what we're all about!</p>
{% endblock content %}