{% extends "pizzas/base.html" %}


{% block content %}

<style>
    /* Head/Logo Title */
    .header {
        padding: 40px;
        text-align: center;
        background: #cac469;
        color: white;
        font-size: 30px;
    }
</style>

<div class='header'>
    <p>Select your delicious pizza...</p>
</div>

<ul>
    {% for pizza in pizzas %}
    <li>
        <a href="{% url 'pizzas:pizza' pizza.id %}"> {{pizza}} </a>
    </li>
    {% empty %}
    <li> No pizzas are available for order.</li>
    {% endfor %}
</ul>

{% endblock content %}